header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
.pic {
    width: 100px;
    height: 100px;
}
.descrip {
    font-size: 18px;
    color: #000000;
    margin-top: 10px;
    text-align: center;
}
audio {
    display: block;
    margin: 20px auto;
}
.link {
    display: block;
    text-align: center;
    padding: 20px;
}
